@page "/"
<AuthorizeView>
    <Authorized>
        <a type="button" class="btn btn-primary" href="AddPost">Add Post</a>
    </Authorized>
    <NotAuthorized>
        <a type="button" class="btn btn-outline-secondary" href="LogIn">Add Post</a>
    </NotAuthorized>
</AuthorizeView>

<div class="row">
    <div class="col-sm-8">
        <div class="form-row">
            <div class="form-group col">
                <label>sort by: </label>
                <select class="form-control" @bind="sortBy" style="background-color: #f7f7f7">
                    <option selected value="family">Family</option>
                    <option value="adult">Adult</option>
                    <option value="child">Child</option>
                    <option value="pet">Pet</option>
                </select>
            </div>
            <div class="form-group col">
                <label>filter by: </label>
                <select class="form-control" @bind="filterBy" style="background-color: #f7f7f7">
                    <option selected value="family">Family</option>
                    <option value="adult">Adult</option>
                    <option value="child">Child</option>
                    <option value="pet">Pet</option>
                </select>
            </div>
        </div>
        <PostView></PostView>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a href="https://www.rolex.com/">Click here (sponsored)</a>
                <img src="extra/rolex-logo-font-free-download-856x484.jpg" width="100%">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="https://www.minecraft.net/">Click here (sponsored)</a>
                <img src="extra/5OMG2931IKXEM_whats-the-name-of-this-girl-on-a-snapfuck-ad-on-pornhub.jpg" width="100%">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="https://www.redbull.com/">Click here (sponsored)</a>
                <img src="extra/redbull.jpg" width="100%">
            </div>
        </div>
    </div>
</div>


@code
{
    string sortBy;
    string filterBy;

    protected override async Task OnInitializedAsync()
    {
    //TODO: do we even need this?
    }

    //TODO: implement filters
    //TODO: implement sort by
}