@page "/"
@using Feedle.Models
<AuthorizeView>
    <Authorized>
        <a type="button" class="btn btn-primary" href="AddPost">Add Post</a>
    </Authorized>
    <NotAuthorized>
        <a type="button" class="btn btn-outline-secondary" href="LogIn">Add Post</a>
    </NotAuthorized>
</AuthorizeView>

<div class="row">
    <div class="col-sm-8">
        <PostView></PostView>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top news makers</h5>
                <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="https://www.rolex.com/">Click here (sponsored)</a>
                <img src="extra/rolex-logo-font-free-download-856x484.jpg" width="100%">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="https://www.minecraft.net/">Click here (sponsored)</a>
                <img src="extra/5OMG2931IKXEM_whats-the-name-of-this-girl-on-a-snapfuck-ad-on-pornhub.jpg" width="100%">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="https://www.redbull.com/">Click here (sponsored)</a>
                <img src="extra/redbull.jpg" width="100%">
            </div>
        </div>
    </div>
</div>


@code
{
    public Post Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Post = new Post();
    }
}