@page "/"
@using Feedle.Models
<AuthorizeView>
    <Authorized>
        <a type="button" class="btn btn-primary" href="AddPost">Add Post</a>
    </Authorized>
    <NotAuthorized>
        <a type="button" class="btn btn-outline-secondary" href="LogIn">Add Post</a>
    </NotAuthorized>
</AuthorizeView>

<PostView></PostView>


@code
{
    public Post Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Post = new Post();
    }

    //TODO add parameter to to otherProfile
}