@page "/LogIn"
@using Feedle.Authentication
@using Feedle.Data
@using Radzen

@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;
@inject BlazorTimer Timer

<div class="text-center">
    <AuthorizeView>
        <NotAuthorized>
            <div class="form-signin">
                <img class="mb-4" src="extra/9742 feedle_RB_1.png" alt width="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input @bind-value="username" type="text" class="form-control" placeholder="Username" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input @bind-value="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">


                <div>@errorMessage</div>
                <button @onclick="PerformLogin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p>or <a href="SignUp">sign up</a> instead</p>
            </div>
        </NotAuthorized>
        <Authorized>
            <p class="text-muted">
                You are logged in.
            </p>
            <p class="text-muted">Redirecting to front page in 2 seconds ...</p>
        </Authorized>
    </AuthorizeView>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <RadzenCard>
            <div class="text-center">
            <img class="mb-4" src="extra/9742 feedle_RB_1.png" alt width="100">
            <RadzenLogin AllowResetPassword="false"
                         Login=@(args => OnLogin(args, "Login with register"))
                         Register=@(args => OnRegister("Login with register")) Style="margin-bottom: 20px;"/>
        </div>
            </RadzenCard>
        
        
    </div>

</div>


@code {
    
    class Model
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }
    bool popup;

    Model model = new Model();
    
    void OnSubmit(Model model)
    {
        
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        
    }
    
    
    private string username;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        if (Check(username) == false && Check(password) == false)
        {
            errorMessage = "";
            try
            {
                ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
                username = "";
                password = "";
                StartTimer();
            }
            catch (Exception e)
            {
                errorMessage = e.Message;
            }
        }
        else
        {
            errorMessage = "some of the fields are empty";
        }
        
    }


    public async Task PerformLogout()
    {
        errorMessage = "";
        username = "";
        password = "";
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
        }
    }

    //timer
    private void StartTimer()
    {
        Timer.SetTimer(2500);
        Timer.OnElapsed += TimerElapsedHandler;
    }

    private void TimerElapsedHandler()
    {
        NavigationManager.NavigateTo("/");
    }

    async void OnLogin(LoginArgs args, string name)
    {
        username = args.Username;
        password = args.Password;
        await PerformLogin();
    }

    void OnRegister(string name)
    {
        NavigationManager.NavigateTo("/SignUp");
        
    }
    
    public static bool Check(string s)
    {
        return (s == null || s == String.Empty) ? true : false;
    }
//TODO need to fix bug with the log in to inexistent user exep
}