@page "/OtherProfile"
<h3>OtherProfile</h3>
<div class="oi oi-person"></div>
<p>Name</p>
<a class="btn btn-outline-secondary">Add friend</a>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <textarea class="form-control" aria-label="With textarea" readonly placeholder="Not friends yet"></textarea>
</div>
@code {

}