@page "/SignUp"
@using Feedle.Data
@using Feedle.Models
@inject IUserService UserService;

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="text-center">
    <div class="form-signin">
        <img class="mb-4" src="extra/9742 feedle_RB_1.png" alt width="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <div class="form-group">
            <label>
                <i class="material-icons">account_box</i>
            </label>
            <input @bind-value="username" class="form-control" placeholder="Username" required="" autofocus="">
        </div>
        @if (flaguser)
        {
            <small id="passwordHelp" class="text-danger">
                Username already exist please choose a different one.
            </small>
        }
        <label >
            <i class="material-icons">vpn_key</i>
        </label>
        <input @bind-value="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <input @bind-value="password2" type="password" id="inputPassword2" class="form-control" placeholder="Repeat Password" required="">
        @if (flagpass)
        {
            <div id="passwordHelp" class="text-danger">
                Passwords must match!
            </div>
        }
        <button @onclick="PerformSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p>or <a href="LogIn">log in</a> instead</p>
        @if (flag2)
        {
            <p>You are singed up <a href="LogIn.razor">Log In</a> </p>
        }
    </div>
</div>

@code {
    bool flagpass;
    bool flag2;
    bool flaguser = false;

    string username;
    string password;
    string password2;

    public async Task PerformSignUp()
    {
        flagpass = false;
        flag2 = false;
        if (password.Equals(password2))
        {
            await UserService.RegisterUser(username, password, "user");
            flag2 = true;
        }
        else
        {
            flagpass = true;
        }
    }

}