@using Feedle.Data
@using Feedle.Models
@inject IUserService Userservice;

@do
{
    <div class="row">
        @do
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Friends[i].UserName</h5>
                        <p class="card-text">@Friends[i].SecurityLevel</p>
                    </div>
                </div>
            </div>
            counter++;
            i++;
        }while(counter<=3 && i<Friends.Count-1);
    </div>
    counter = 0;
}while(i<Friends.Count);

@code {
    IList<User> Friends;
    int counter = 0;
    int i= 0;

    protected override async Task OnInitializedAsync()
    {
        Friends = await Userservice.GetFirendsByUserId();
        counter = 0;
    }

}