<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img src="/extra/9742 feedle_RB_1.png" height="39" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="" Match="NavLinkMatch.All">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="Test">Test</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-sm" href="LogIn">
                        LOG IN
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-sm" href="SignUp">
                        SIGN UP
                    </a>
                </li>
                <AuthorizeView Policy="Admin">
                   
                        <li class="nav-item">
                            <a class="nav-link text-dark">TestAuth</a>
                        </li>
                    
                </AuthorizeView>

            </ul>
        </div>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }

}