@using Feedle.Models
@using Feedle.Data
@using System.Text.Json
@inject INewsService NewsService;
@inject IUserService UserService;

<div>
    @if (posts == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else if (!posts.Any())
    {
        <p>
            <em>There are no posts.</em>
        </p>
    }
    else
    {
        @foreach (Post p in posts.Reverse())
        {
            <a href="ReadPost/@p.Id">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@p.Title</h5>
                        <p class="card-text">@p.Content</p>
                        <span>@GetTime(p)</span>
                        <span class="oi oi-thumb-up"></span>
                        <span class="oi oi-thumb-down"></span>
                        @if (IsAuthor(p))
                        {
                            <span class="oi oi-trash"></span>
                        }
                        <div class="card-footer text-muted">
                            @p.AuthorUserName
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>


@code {
    IList<Post> posts;
    User currentUser;

    protected override async Task OnInitializedAsync()
    {
        posts = await NewsService.GetAllNews();
        currentUser = await UserService.GetCurrentUser();
    }

    string GetTime(Post post)
    {
        return post.Hour + ":" + post.Minute + "  " + post.Day + "." + post.Month + "." + post.Year;
    }

    bool IsAuthor(Post post)
    {
        if (currentUser != null)
        {
            return currentUser.UserName.Equals(post.AuthorUserName);
        }
        return false;
    }

}